@charset "UTF-8";
* {
	box-sizing: border-box
}

body, html {
	margin: 0;
	padding: 0;
	background-color: #ddd
}

body {
    display: flex;
    flex-direction: column;
	align-items: center
}

.my_page_menu {
	width: 2000px;
}

.menu_content {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
}
.main_content {
	width: 6000px;
}


.menu_item > a{
    display: block;
    height: 45px;
    padding: 0 15px;
    font-size: 15px;
    color: #313131;
    line-height: 45px;
    background: #fff;
}
.page_title, .my_page_title {
	font-size: 2em;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
	background-color: #ddd;
	display: flex;
	flex-direction: row;
	width: 60vw;
	min-height: 600px;
}
.btn_day{
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    font-size: 18px;
    /* float: left; */
}